body {
  font-size: 150%;
}

h1 {
  color: white;
  background-color: green;
}

p {
  background-color: yellow;
}

.awesome {
  font-weight: bold;
}

.great {
  font-weight: bold;
}

.little {
  font-size: 50%;
}
